<footer class="footer mt-5 py-3 bg-dark">
    <div class="container text-center pt-3 pb-1">
        <p class="text-light"><small><strong>copiright © | <a href="http://www.agirabcd-37.org">AGIRabcd37</a></strong></small></p>
    </div>
</footer>